.canvas {
  width: 100vw;
  height: 100vh;
  max-width:100%;
  pointer-events: all;
  user-select: none;
  overflow: hidden;
}
/* * {
  box-sizing: border-box;
}
body,html {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
} */